<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhide.assist.mapper.TemplateMapper">
    <select id="getData" resultType="map">
        Select * from (
        select vt.*,row_number() over(ORDER  by ${sortField} ${sortOrder}) as
        RowNum,Count(1) over() as _TotalNum
        from tbTemplate as vt
        <where>
            1=1
            <if test="orItems!=null">
                <if test="orItems.size()>0">
                    And
                    <foreach collection="orItems" open="(" close=")" separator=" OR " item="item">
                        (${item.field} ${item.oper} #{item.value})
                    </foreach>
                </if>
            </if>
            <if test="andItems!=null">
                <if test="andItems.size()>0">
                    And
                    <foreach collection="andItems" open="(" close=")" separator=" And " item="item">
                        (${item.field} ${item.oper} #{item.value})
                    </foreach>
                </if>
            </if>
        </where>)t Where RowNum BETWEEN  #{Begin} And #{End}
    </select>

    <select id="GetMyDownLoadData" resultType="map">
        Select * from (
        select vt.ID,(SELECT AssistName FROM tbAssitName WHERE vt.AssistNameID=ID)AS AssistName,
        (SELECT TemplateName FROM tbTemplate WHERE vt.TemplateID=ID) AS TemplateName,
        vt.DownloadNum,vt.DownloadTime,vt.UserID,vt.AssistNameID,vt.TemplateID,row_number() over(ORDER  by ${sortField} ${sortOrder}) as
        RowNum,Count(1) over() as _TotalNum
        from tbTemplateDownload as vt
        <where>
            UserID = ${UserID}
            <if test="orItems!=null">
                <if test="orItems.size()>0">
                    And
                    <foreach collection="orItems" open="(" close=")" separator=" OR " item="item">
                        (${item.field} ${item.oper} #{item.value})
                    </foreach>
                </if>
            </if>
            <if test="andItems!=null">
                <if test="andItems.size()>0">
                    And
                    <foreach collection="andItems" open="(" close=")" separator=" And " item="item">
                        (${item.field} ${item.oper} #{item.value})
                    </foreach>
                </if>
            </if>
        </where>)t Where RowNum BETWEEN  #{Begin} And #{End}
    </select>
</mapper>
