/*头部*/
.f-ml-header { width: 100%;}
/*头部上边*/
.f-ml-hd-top { width: 100%;height: 33px;background-color: rgb(234 , 234 , 234);}
.f-ml-hd-title { width: 1180px;height: 33px;font-size: 13px;margin: 0 auto;}
/*所在城市*/
.f-ml-hd-city { width: 124px;height: 33px;color: #666666;line-height: 33px;}
.f-icons-downarrow { background: url(/js/NewLogin/img/icons.png)no-repeat;width: 8px;height: 8px;background-position: 0 0;float:right;margin:16px 19px 0 0px;}
.f-ml-hd-ul { list-style: none;margin-left: 858px;line-height: 33px;}
.f-ml-hd-ul li { float: left;margin: 0px 6px;}
.f-ml-hd-ul li>a:hover { color: #d00;}
/*头部下边*/
.f-ml-hd-bottom { width: 1180px;height: 131px;margin: 0 auto;}
.f-ml-hd-logo { width: 330px;height: 80px;margin-top: 25px;}
.f-ml-hd-text { width: 160px;height: 80px;color: #a0a0a0;font-size: 28px;font-weight: bold;line-height: 80px;padding-left: 30px; border-left: 1px solid #ccc;box-sizing: border-box;}
/*头部样式结束*/
/*============================================会员注册页面=========================================*/
/*内容*/
.f-registered-middle { width: 100%;background-color: rgb(34 , 119 , 223);}
.f-r-middle-wp { width: 1180px;height: 665px;margin: 0 auto;position: relative;}
.f-r-img2 { margin: 225px 0 0 124px;}
/*图形验证码*/
.f-r-alterdiv,.f-r-alternull { width: 130px;height: 50px;background-color: #000;opacity: 0.5;color: #fff;font-size: 16px;line-height: 50px;position: absolute;top: 280px;left: 610px;border-radius: 10px;text-align: center;display: none;}
/*注册框*/
.f-r-middle-right { width: 385px;height: 599px;background-color: #fff;margin-top: 40px;}

 /*注册框头*/
.f-r-right-title { width: 325px;height: 30px;margin: 0 auto 18px;margin-top: 30px;color: #a0a0a0;font-size: 28px;font-weight: 400;line-height: 33px;}

/*所有输入框*/
.f-r-input1,.f-r-input2,.f-r-input3,.f-r-input4,.f-r-input5 { width: 325px;height: 37px;font-size: 10px;margin: 0 auto;}
input { width: 99.5%;height: 100%;background-color: rgb(247 , 247 , 247);border: 1px solid rgb(201 , 201 , 201);font-size:13px;}
/*输入正确图标*/
.r-success,.r-success2,.r-success3 { width: 15px;height: 18px;}
/*输入正确图标*/
.success,.successpw { width: 15px;height: 18px;}
.f-r-input1,.f-r-input2,.f-r-input3 { position: relative;}
.f-ricons-on,.f-ricons-on2,.f-ricons-on3 { background: url(/js/NewLogin/img/icons.png)no-repeat;width: 15px;height: 18px;background-position: -252px -55px;position:absolute;top: 11px;right: 10px;display: none;}
/*警告*/
.f-r-warn { width: 325px;height: 18px;margin: 6px auto 5px;}
.f-r-phone-warn,.f-r-pass-warn2,.f-r-pass-warn3,.f-ml-phone-warn,.f-ml-pass-warn { width: 325px;height: 18px;color: #f00;font-weight: 500;display: none;}
.f-ricons-phone,.f-ricons-pass,.f-ricons-pass2 { background: url(/js/NewLogin/img/icons.png)no-repeat;width: 15px;height: 18px;background-position: -252px -90px;margin: -4px 4px 0 0;}
/*验证码框*/
.f-r-input4>input { width: 28%;height: 100%;}
.f-r-input4>a { color: rgb(242 , 85 , 0);font-size: 14px;}
.f-r-inp4a { line-height: 37px;}
.f-r-input4 img { padding-right: 5px;margin: 3px 0 0 50px;}

/*获取验证码*/
.f-r-input5 { margin-top: 30px;background-color: yellow;}
.f-r-input5a {
	height: 37px;
	line-height: 25px;
	background-color: rgb(34 , 119 , 223);
	display: inline-block;
	color: #fff;
	font-size: 15px;
	padding: 6px 15px;
	position: relative;
	top: 8px;
	left: 110px;
}

/*阅读协议*/
.f-r-input6 { width: 325px;height: 25px;margin: 18px auto 0;line-height: 25px;}
.f-r-input6>input{ width: 8%;height: 100%;}
.f-r-input6>a { font-size: 14px;text-decoration: none;}
/*等录按钮*/
.f-r-submit-button {     width: 325px;
	height: 40px;
	margin: 0px auto;
	text-align: center;
	margin-top: 40px;}
.f-r-btn,.f-r-btn2 { width: 120px;height: 40px;color: #fff;font-size: 16px;border-radius: 5px;cursor: pointer;/*光标变为一只手*/}
.f-r-submit-button a:nth-of-type(1) input{ background-color: rgb(219 , 82 , 0);margin-left: 21px;}
.f-r-submit-button a:nth-of-type(2) input { background-color: rgb(34 , 119 , 223);margin-left: 40px;}
/*合作网站登录*/
.f-r-end { width: 325px;height: 96px;margin: 10px auto 0;}
.f-r-end-son1 {     width: 325px;
	height: 76px;
	margin-top: 50px;
	border-top: 1px dashed #ccc;
	box-sizing: border-box;}
.f-r-end-son2 { width: 120px;
    color: #666;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    margin: -86px auto;
}
.f-ricons-weixin,.f-ricons-qq { text-align: center;}
.f-ricons-weixin { background: url(/js/NewLogin/img/icons.png)no-repeat;width: 40px;height: 40px;background-position: -160px -450px;display: inline-block;margin: 0px 0px 1px 107px;}
.f-ricons-qq { background: url(/js/NewLogin/img/icons.png)no-repeat;width: 40px;height: 40px;background-position: -160px -400px;display: inline-block;margin: 28px 0px 0px 32px;}
